<app-header></app-header>

<div class="row mt-5"></div>

<div class="container">

<div class="col-md-7 offset-md-3" *ngIf="localStorage">
  <h1>Votre dernière commande :</h1>
  <p>{{pizza.toString()}}<p>
  <a class="btn btn-primary" routerLink="/commander">Commander</a>
</div>

  <div class="col-md-7 offset-md-3">
      <h1>Bienvenue sur Pizza Mania</h1>
      <div class="row mt-5"></div>
      <p>Composer et commander votre pizza en cliquant sur le bouton ci-dessous !</p>
      <div class="row mt-4"></div>
      <a class="btn btn-primary" routerLink="/composer">Composer</a>
  </div>
</div>


<app-footer></app-footer>